<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="{% block description %}Rollerei Brettliebe Admin{% endblock %}">
    <title>{% block title %}Admin Base Title{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/admin/base.css') }}" />
    {# Image Extensions#}
    <style type="text/css">
    </style>
    {% block styles %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="{{ asset('bundles/frontend/js/HTTP.js') }}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="root">
        <header class="header">
            <a class="logo-link" href="{{ path('admin.startseite') }}">
                <img  class="logo"
                      src="{{ asset('bundles/frontend/img/rollereivideos/HolyBrettliebe.png') }}" alt="Rollerei Logo"/>
            </a>
            <div class="mid-box">
                {% block headerContent %}{% endblock %}
            </div>
            <div class="links">
                <a class="link" href="{{ path('admin.video') }}">Videos</a>
                <a class="link" href="{{ path('admin.photo') }}">Fotos</a>
            </div>
        </header>
        <main class="main">
            {% block mainContent %}
                <h1>Base Content</h1>
            {% endblock %}
        </main>
        <footer class="footer">{% block footerContent %}{% endblock %}</footer>
    </div>
</body>
</html>